<header>
  <div class="navbar">
    <a href=".">
      <img class="icon" src="assets/logos/flowboard.svg" alt="Flowboard Logo" />
    </a>
    <div class="links">
      <a class="info" href="#">
        Información <i class="fa-solid fa-chevron-down"></i>
      </a>
      <a class="info" href="#">
        Contacto <i class="fa-solid fa-chevron-down"></i>
      </a>
      <a class="info" href="#"> Herramientas </a>
    </div>
  </div>
  <div class="userBar">
    <button [routerLink]="['/login']" class="loginBtn">Inicia sesión</button>
    <button [routerLink]="['/signup/step/1']" class="registerBtn">
      Regrístrate
    </button>
  </div>
</header>
