<div class="wrapper row space-between align-center">
  <p class="creditos">© 2024 Flowboard - Tobías Luzuriaga Vidal TFG</p>
  <div class="redes row">
    <span class="fa-stack fa-lg clickable">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-brands fa-youtube fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg clickable">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-brands fa-instagram fa-stack-1x fa-inverse"></i> </span
    ><span class="fa-stack fa-lg clickable">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-brands fa-github fa-stack-1x fa-inverse"></i> </span
    ><span class="fa-stack fa-lg clickable">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>
