@import "src/styles/variables.scss";

.wrapper {
  .content {
    background-color: $secondary_color;
    color: $primary_color;
    width: 55%;
    height: 80%;
    border-radius: 20px;
    font-family: "Inter", "Roboto", system-ui;
    font-size: 16px;

    .buttons {
      border: none;
      padding: 1rem;
    }

    button {
      width: 30%;
      height: 2rem;
      background-color: $primary_90;
      color: $secondary_color;
      font-family: "Inter", "Roboto", system-ui;
      border: none;
      border-radius: 3px;
    }

    .sBtn-text {
      font-size: 18px;
      font-family: "Inter", "Roboto", system-ui;
    }

    .select-menu {
      position: relative;

      ::-webkit-scrollbar {
        background-color: $white;
        border-radius: 20px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgba(28, 28, 28, 0.2);
        border-radius: 20px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(28, 28, 28, 0.3);
      }

      .select-btn {
        display: flex;
        height: 3rem;
        background-color: $white;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: $black;
      }

      input {
        outline: none;
        border: none;
      }

      ::placeholder {
        color: $black;
      }
    }

    .select-btn i {
      font-size: 16px;
      transition: 0.3s;
      color: $black;
    }

    .select-menu.active .select-btn i {
      transform: rotate(-180deg);
    }

    .select-menu .options {
      position: fixed;
      z-index: 5;

      top: 0;
      max-height: 9rem;
      overflow-y: auto;
      left: 0;
      width: 100%;
      margin-top: 5px;
      border-radius: 8px;
      color: $black;
      background-color: $white;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      display: none;
    }

    .select-menu.active .options {
      display: block;
      opacity: 1;
    }

    .select-menu.active .options.overflow {
      opacity: 0;
    }

    .options .option {
      display: flex;
      height: 3rem;
      cursor: pointer;
      padding: 0 1rem;
      border-radius: 8px;
      align-items: center;
      background: #fff;
    }

    .options .option:hover {
      background: #f2f2f2;
    }

    .option img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
    }

    .collaborator {
      .user {
        font-size: 18px;
      }
      img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
      }
    }

    button:disabled {
      background-color: $primary_10;
      cursor: default;
    }

    .edit {
      width: 97%;
      height: 97%;
      overflow-y: auto;

      i {
        font-size: 15px;
      }

      > * {
        padding: 1rem;
        border-bottom: 1px solid $primary_color;
      }

      input,
      textarea {
        padding: 0.5rem;
        background-color: $primary_color;
        color: $secondary_color;
        font-family: "Inter", "Roboto", system-ui;
        border-radius: 6px;
        outline: none;
      }

      textarea {
        resize: none;
        width: 70%;
        height: 6rem;
      }

      input[type="date"] {
        width: 30%;
        background-color: $primary_90;
        color: $secondary_color;
      }

      .files {
        position: relative;
        padding-bottom: 1rem;
        overflow-x: auto;
        .file {
          background-color: $primary_20;
          color: $primary_color;
          border: 1px solid $primary_color;
          border-radius: 2px;
          min-width: 9%;
          width: auto;
          padding-left: 0.3rem;
          padding-right: 0.3rem;
          height: 5.5rem;
          font-family: "Inter", "Roboto", system-ui;
          position: relative;

          .extension {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 11px;
          }
        }
        .disclaimer {
          position: absolute;
          z-index: 3;
          bottom: 0;
          font-size: 10px;
          color: red;
        }
      }
      input[type="file"] {
        display: none;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary_10;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $primary_20;
}
