<div class="wrapper full-height full-width full-center">
  <ul class="row wrap gap-05">
    <li
      *ngFor="let workspace of workspaces; let i = index"
      class="workspace clickable full-center"
      [ngClass]="i % 2 === 0 ? 'blue' : 'purple'"
      (mouseenter)="workspace.showSettings = true"
      (mouseleave)="workspace.showSettings = false"
    >
      <div
        class="full-width full-height full-center"
        [routerLink]="['./workspace', workspace.id]"
        [relativeTo]="this.activatedRoute"
      >
        {{ workspace.name }}
      </div>
      <div
        *ngIf="workspace.showSettings"
        [routerLink]="[workspace.id, 'edit']"
        [relativeTo]="this.activatedRoute"
        class="centerWrapper"
      >
        <!-- [routerLink]="['./workspace', workspace.id, 'edit']" -->
        <div class="center">
          <i class="fa-solid fa-gear settings full-center"></i>
        </div>
      </div>
    </li>
    <li
      class="add_workspace full-center {{
        !this.isAddWorkspaceClicked ? 'clickable' : ''
      }}"
      [ngClass]="
        this.workspaces && this.workspaces.length % 2 === 0 ? 'blue' : 'purple'
      "
      (click)="this.isAddWorkspaceClicked = true"
    >
      <div *ngIf="this.isAddWorkspaceClicked" class="clicked column gap-05">
        <input
          type="text"
          #workspaceTitle
          maxlength="12"
          placeholder="Título del workspace"
          (keydown.enter)="addWorkspace(workspaceTitle.value)"
        />
        <div class="buttons row gap-05 align-center">
          <button
            (click)="
              $event.stopPropagation(); addWorkspace(workspaceTitle.value)
            "
          >
            Añadir workspace
          </button>
          <i
            (click)="
              $event.stopPropagation(); this.isAddWorkspaceClicked = false
            "
            class="fa-solid fa-xmark clickable"
          ></i>
        </div>
      </div>
      <div
        *ngIf="!this.isAddWorkspaceClicked"
        class="not_clicked row gap-05 full-center p-1"
      >
        <i class="fa-solid fa-plus"></i>
        <p>Añade un workspace</p>
      </div>
    </li>
  </ul>
  <div *ngIf="this.getIsOverlayOn()" class="overlay">
    <router-outlet></router-outlet>
  </div>
</div>
