<article class="article_no2">
  <div class="headlines">
    <h2 class="headline">Características</h2>
    <p class="2headline">
      Descubre las características principales de nuestra app
    </p>
  </div>

  <section>
    <div class="fluidez">
      <img
        class="fluidez_logo"
        src="assets/logos/fluidez.svg"
        alt="Fluidez IMG"
      />
      <h3>Fluidez</h3>
      <p>
        Organiza tus tareas sin complicaciones. Con nuestra app, gestionar
        proyectos nunca fue tan fácil.
      </p>
      <a> Más información <i class="fa-solid fa-arrow-right"></i> </a>
    </div>

    <div class="colaboracion">
      <img
        class="colaboracion_logo"
        src="assets/logos/colaboracion.svg"
        alt="Colaboracion IMG"
      />
      <h3>Colaboración</h3>
      <p>
        Trabaja en equipo sin fronteras. Comparte tableros sin importar la
        distancia.
      </p>
      <a> Más información <i class="fa-solid fa-arrow-right"></i> </a>
    </div>

    <div class="personalizable">
      <img
        class="personalizable_logo"
        src="assets/logos/personalizable.svg"
        alt="Personalizable IMG"
      />
      <h3>Personalizable</h3>
      <p>
        Personaliza cada detalle. Desde etiquetas hasta notificaciones, adapta
        la app a tu estilo de trabajo.
      </p>
      <a> Más información <i class="fa-solid fa-arrow-right"></i> </a>
    </div>
  </section>
</article>
