:root {
  --headline1: #0f172a;
  --headline2: #475569;
  --headline3: #2d2d2d;
  --buttons: #2563eb;
  --border: #cbd5e1;
  --border2: #e5f4f2;
  --border3: #e2e8f0;
  --logos_background: #f1f5f9;
  --logos_color: #94a3b8;
  --links: #067bc2;
  --article4: #011627;
  --article4bg: #161c2d;
}
