<div class="wrapper full-center">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="title row full-center space-between">
      <div class="input-container">
        <input
          #searchInput
          type="text"
          id="friends"
          (keyup)="searchUsers(searchInput.value)"
          placeholder="Buscar amigos..."
        />
        <label for="friends">
          <i
            (click)="searchUsers(searchInput.value)"
            class="fa-solid fa-magnifying-glass"
          ></i>
        </label>
      </div>
    </div>

    <ul class="list_users">
      <li
        *ngFor="let user of shownUsers"
        id="{{ user.id }}"
        class="user row space-between align-center p-1"
      >
        <div class="info row align-center gap-05">
          <img
            src="{{ user.image?.contentUrl }}"
            alt="Avatar of {{ user.username }}"
          />
          <label>{{ user.username }}</label>
        </div>
        <div class="wants_tobe_friend column full-center gap-05">
          <button
            (click)="acceptFriendRequest(user)"
            class="accept full-center"
            *ngIf="user.wantsToBeFriend"
          >
            <i class="fa-solid fa-check full-center"></i>
          </button>
          <button
            (click)="declineFriendRequest(user)"
            class="decline full-center"
            *ngIf="user.wantsToBeFriend"
          >
            <i class="fa-solid fa-xmark full-center"></i>
          </button>
        </div>
        <button
          class="requested full-center"
          (click)="deleteFriendRequest(user)"
          *ngIf="user.requestedBeFriend"
        >
          <i class="fa-solid fa-xmark full-center"></i>
        </button>
        <button
          class="friends"
          (click)="deleteFriend(user)"
          *ngIf="user.isFriend"
        >
          <i class="fa-solid fa-user-group"></i>
        </button>
        <button
          class="unknown"
          (click)="sendFriendRequest(user)"
          *ngIf="
            !user.requestedBeFriend && !user.isFriend && !user.wantsToBeFriend
          "
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
