<article class="articile_no1">
  <section class="left">
    <div class="headlines">
      <h2 class="headline">Organiza tu flujo, sin límites</h2>
      <p class="2headline">
        Transforma tu caos en orden con nuestra app líder. Simplifica tu vida y
        alcanza tus metas sin esfuerzo.
      </p>
    </div>

    <div class="register">
      <div class="input-container">
        <input type="email" id="email" placeholder="Introduce tu email" />
        <label for="email">
          <i class="fa-regular fa-envelope"></i>
        </label>
      </div>
      <button [routerLink]="['/signup']">Apúntate</button>
    </div>

    <div class="logos">
      <a class="belen" href="https://iesbelen.org/" target="blank">
        <img
          class="belenLogo logo"
          src="assets/logos/belenLOGO.svg"
          alt="I.E.S. Belén Logo"
        />
        Belén
      </a>
      <a class="playamar" href="https://iesplayamar.es/" target="blank">
        <img
          class="playamarLOGO logo"
          src="/assets/logos/playamarLOGO.svg"
          alt="I.E.S. Playamar Logo"
        />
        Playamar
      </a>
      <a class="github" href="https://github.com/tluzvid22" target="blank">
        <i alt="GitHub Logo" class="fa-brands fa-github logo"></i>
        GitHub
      </a>
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/tobiasluzuriaga/"
        target="blank"
      >
        <i alt="LinkedIn Logo" class="fa-brands fa-linkedin logo"></i>
        LinkedIn
      </a>
    </div>
  </section>

  <section class="right">
    <img
      class="tablero"
      src="/assets/img/tableroKanban.jpg"
      alt="Tablero Kanban Productive"
    />
  </section>
</article>
