<div
  class="wrapper column"
  (click)="this.isAddTaskClicked = false"
  (mouseenter)="this.onFocus = true"
  (mouseleave)="this.onFocus = false"
>
  <div #preview></div>
  <div class="headlines row space-between full-width align-center">
    <h3 class="title">{{ this.list.name }}</h3>
    <i
      *ngIf="this.onFocus"
      class="fa-solid fa-trash"
      (click)="deleteList(); $event.stopPropagation()"
    ></i>
  </div>
  <div class="inner gap-05 column">
    <div
      class="add_task {{
        !this.isAddTaskClicked ? 'clickable' : 'not_clickable'
      }}"
      (click)="$event.stopPropagation(); this.isAddTaskClicked = true"
    >
      <div *ngIf="this.isAddTaskClicked" class="clicked column gap-05">
        <textarea
          #taskTitle
          type="text"
          maxlength="70"
          (keydown.enter)="
            $event.preventDefault();
            addTask(taskTitle.value);
            taskTitle.value = '';
            taskTitle.focus()
          "
          placeholder="Añade el título de la tarea"
        ></textarea>
        <div class="buttons row gap-05 align-center">
          <button
            (click)="
              $event.stopPropagation();
              addTask(taskTitle.value);
              taskTitle.value = '';
              taskTitle.focus()
            "
            type="submit"
          >
            Añadir tarea
          </button>
          <i
            (click)="$event.stopPropagation(); this.isAddTaskClicked = false"
            class="fa-solid fa-xmark clickable"
          ></i>
        </div>
      </div>
      <div
        *ngIf="!this.isAddTaskClicked"
        class="not_clicked row gap-05 full-center clickable"
      >
        <i class="fa-solid fa-plus clickable"></i>
        <p>Añade una tarea</p>
      </div>
    </div>
    <!-- addtask -->
    <div
      id="LIST{{ list.id }}"
      class="task_list justify-center gap-05 column"
      [cdkDropListConnectedTo]="this.connectedLists"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="this.list.tasks"
      cdkDropList
    >
      <app-task
        *ngFor="let task of this.list.tasks"
        cdkDrag
        [cdkDragPreviewContainer]="previewContainer"
        [task]="task"
        class="task"
      >
      </app-task>
    </div>
    <!-- each individual task -->
  </div>
</div>
