@import "src/styles/variables.scss";
.wrapper {
  width: 100%;
  height: 100%;
  background-color: $secondary_color;
  padding: 1rem;
  border-radius: 15px;

  ul {
    list-style: none;
    overflow-y: auto;
    max-height: 75vh;
    justify-content: start;
  }

  h3 {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
    color: $primary_color;
  }

  .add_task {
    border-radius: 5px;
    background-color: $primary_10;
    color: $primary_color;
    font-size: 13px;
    padding: 0.5rem;
  }

  .clicked {
    padding: 0.5rem;

    button {
      background-color: #579dff;
      color: $primary_color;
      font-family: "Inter", "Roboto", system-ui;
      border-radius: 5px;
      padding: 0.8rem;
      border: none;
    }

    button:hover {
      opacity: 0.95;
    }

    i {
      font-size: 18px;
    }

    textarea {
      padding-bottom: 2rem;
      padding-top: 0.3rem;
      padding-left: 0.3rem;
      background-color: $primary_color;
      color: $secondary_color;
      border: none;
      border-radius: 6px;
      font-family: "Inter", "Roboto", system-ui;
      outline: 1px solid $secondary_color;
      resize: none;
    }

    textarea::placeholder {
      color: $secondary_60;
    }

    textarea:focus {
      outline: 2px solid $secondary_color;
    }
  }

  .add_task:has(.not_clicked:hover) {
    background-color: $secondary_90;
  }

  .add_task:hover:has(.not_clicked) {
    box-shadow: inset 0px 0px 0px 2px $primary_color;
    background-color: $primary_20;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
