$background-color: #f8f9ff;
$contborder: #e5f4f2;
$buttons_color: #2563eb;
$info: #0f172a;

article.articile_no5 {
  background-color: $background-color;
  .contenedor {
    width: 90%;
    max-width: 200rem;
    margin: 3.5rem;

    border-radius: 20px;
    border: 1px solid $contborder;
    background-color: white;
  }

  .contact_container {
    width: 80%;

    .contactinfo {
      i {
        color: $buttons_color;
        font-size: 18px;
      }

      p {
        font-family: "Mulish", "Roboto", system-ui;
        font-size: 16px;
        color: $info;
      }
    }

    .redes {
      h3 {
        color: $info;
        font-family: "Poppins", "Roboto", system-ui;
        font-size: 21px;
      }

      i {
        font-size: 18px;
        color: $info;
        padding: 7px;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $contborder;
      }
    }
  }

  .headlines {
    h2 {
      font-size: 56px;
      line-height: 130%;
      letter-spacing: -1px;
      font-weight: bold;
      margin-bottom: 6px;
    }

    p {
      font-size: 18px;
      line-height: 150%;
    }
  }

  form {
    width: 40%;

    i {
      color: $buttons_color;
    }

    button {
      width: 50%;
      background-color: $buttons_color;
      color: white;
      border: none;
      border-radius: 15px;

      i {
        color: white;
      }
    }

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        border-radius: 7px;
        border: var(--border) 1px solid;
        width: 100%;
        padding: 12px;
        font-weight: 300;
        font-family: "Mulish", "Roboto", system-ui;
        color: var(--headline2);
        font-size: 17px;
        resize: none;
      }

      input {
        padding: 12px 45px;
      }

      textarea {
        height: 7rem;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
      }
      i {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        gap: 7px;
      }

      hr {
        transform: rotate(0deg);
        border-color: #dbe3ff;
      }

      .error {
        margin-left: 6px;
        color: red;
        font-family: "Mulish", "Roboto", system-ui;
        order: 2;
        text-wrap: nowrap;
      }

      .error ~ input,
      .error ~ textarea {
        border-width: 2px;
        outline-color: red;
        outline: 2.5px solid red;
        border: none;
      }
    }

    .form_finished {
      h3 {
        font-size: 30px;
        width: 90%;
        color: var(--headline1);
        text-align: center;
      }

      button {
        background-color: $buttons_color;
        color: white;
        border: none;
        border-radius: 7px;
        padding: 0.6rem;
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-flex,
::ng-deep .mat-mdc-text-field-wrapper {
  background: #fff;
  border: none;
  padding-right: 0;
  fill: #fff;
}
