<article class="articile_no5 column full-center">
  <div class="contenedor column p-2">
    <header class="headlines mb-4">
      <h2 class="headline">Contacto</h2>
      <p class="headline2">
        Contacta directamente con nosotros a través de nuestro correo
        electrónico o teléfono.
      </p>
    </header>
    <div class="contact_container row space-between">
      <div class="contact column gap-2">
        <div class="contactinfo column gap-1">
          <div class="phone row gap-1 align-center">
            <i class="fa-solid fa-phone-volume"></i>
            <p>+34 656960916</p>
          </div>
          <div class="phone row gap-1 align-center">
            <i class="fa-solid fa-envelope"></i>
            <p>{{ "totoluzuriaga22@gmail.com" }}</p>
          </div>
        </div>
        <div class="redes column gap-1">
          <h3>Nuestras redes</h3>
          <div class="row gap-1">
            <i class="fa-brands fa-instagram clickable"></i>
            <i class="fa-brands fa-twitter clickable"></i>
            <i class="fa-solid fa-address-book clickable"></i>
            <i class="fa-solid fa-building-columns clickable"></i>
          </div>
        </div>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
        <div *ngIf="formStep === 0" class="column gap-1">
          <div class="input-container">
            <div
              class="error"
              *ngIf="
                contactForm.get('username')?.invalid &&
                contactForm.get('username')?.touched
              "
            >
              Este campo es requerido.
            </div>
            <input
              type="text"
              id="name"
              formControlName="username"
              placeholder="Nombre"
            />
            <label for="name">
              <i class="fa-regular fa-user"><hr /></i>
            </label>
          </div>

          <div class="input-container">
            <div
              class="error"
              *ngIf="
                !contactForm.get('email')?.errors?.required &&
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            >
              Correo electrónico inválido.
            </div>

            <div
              class="error"
              *ngIf="
                contactForm.get('email')?.touched &&
                contactForm.get('email')?.errors?.required
              "
            >
              Este campo es requerido.
            </div>

            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Email"
            />
            <label for="email">
              <i class="fa-regular fa-envelope"><hr /></i>
            </label>
          </div>

          <button (click)="nextStep()" class="full-center p-1 gap-1">
            Siguiente
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>

        <div *ngIf="formStep === 1" class="column gap-2">
          <div class="input-container">
            <div
              class="error"
              *ngIf="
                !contactForm.get('message')?.errors?.required &&
                contactForm.get('message')?.touched &&
                contactForm.get('message')?.errors?.minlength
              "
            >
              Mínimo 10 carácteres ({{ textAreaCharacters }}/10)
            </div>
            <div
              class="error"
              *ngIf="
                !contactForm.get('message')?.errors?.required &&
                contactForm.get('message')?.errors?.maxlength
              "
            >
              Máximo 150 carácteres ({{ textAreaCharacters }}/150)
            </div>
            <div
              class="error"
              *ngIf="
                contactForm.get('message')?.touched &&
                contactForm.get('message')?.errors?.required
              "
            >
              Este campo es requerido.
            </div>
            <textarea
              class="full-center p-1"
              type="text"
              id="message"
              formControlName="message"
              placeholder="Hola! Necesito ayuda con la App..."
              (keyup)="handleTextAreaChange($event)"
              maxlength="200"
            ></textarea>
          </div>
          <button type="submit" class="full-center p-1">Enviar</button>
        </div>
        <div
          *ngIf="formStep === 2"
          class="form_finished column full-center gap-1"
        >
          <h3>¡Recibido! Nuestro equipo te responderá lo más pronto posible</h3>
          <button class="full-center" (click)="resetForm()">
            Enviar otro mensaje
          </button>
        </div>
      </form>
    </div>
  </div>
</article>
