@import "./styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headlines {
  h2 {
    font-family: "Poppins", "Roboto", system-ui;
    font-size: 70px;
    font-weight: bold;
    line-height: 110%;
    text-wrap: wrap;
    color: var(--headline1);
    margin-bottom: 24px;
  }

  p {
    font-family: "Mulish", "Roboto", system-ui;
    font-size: 21px;
    line-height: 160%;
    text-wrap: wrap;
    color: var(--headline2);
  }
}

button,
a {
  cursor: pointer;
}

button:hover,
a:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1250px) {
  header .navbar .links a {
    display: none;
  }
}
