<div
  class="wrapper row full-center sizes"
  [ngClass]="this.isDarkModeOn ? 'dark_mode' : 'light_mode'"
  (click)="isLogOutTabVisible = false; isSocialClicked = false"
>
  <div
    class="sidebar relative {{
      !this.isSidebarLeftVisible ? 'hidden' : ''
    }} left"
  >
    <div class="content space-between column">
      <div #navbar class="top column navbar">
        <div
          id="profile"
          (click)="
            $event.stopPropagation(); isLogOutTabVisible = !isLogOutTabVisible
          "
          class="profile row space-between align-center"
        >
          <div class="left row align-center gap-05">
            <img
              #profilePicture
              class="profile_picture"
              src="/assets/img/defaultpicture.jpg"
            />
            <label #username class="username clickable"></label>
          </div>
          <div class="right clickable">
            <i
              class="{{
                isLogOutTabVisible
                  ? 'fa-solid fa-chevron-right -right'
                  : 'fa-solid fa-chevron-right -down'
              }}"
            ></i>
          </div>
        </div>
        <ul *ngIf="isLogOutTabVisible" class="logout_tab full-center">
          <li class="clickable" (click)="logout()">Cerrar sesión</li>
        </ul>
        <div class="nav column gap-1">
          <div class="favorites">
            <label class="title">Favoritos (Máx. 3)</label>
            <ul>
              <li
                *ngFor="let favorite of this.favorites"
                [routerLink]="favorite.redirectTo"
                class="navElement {{
                  favorite.linkedTo.toLowerCase().replace(' ', '')
                }} row align-center gap-05 clickable 
                {{
                  this.selectedElement.linkedTo === favorite.linkedTo
                    ? 'nav_selected'
                    : ''
                }}"
              >
                <label class="clickable">
                  {{ favorite.linkedTo }}
                </label>
              </li>
              <!-- <li class="navElement row align-center gap-05">
                <label>Overview</label>
              </li>
              <li class="navElement row align-center gap-05">
                <label>Espacios de trabajo</label>
              </li> -->
            </ul>
          </div>

          <div class="general">
            <label class="title">General</label>
            <ul>
              <li
                class="navElement overview row align-center gap-05"
                routerLink="overview"
              >
                <div class="logo">
                  <img
                    class="icon"
                    [src]="
                      this.isDarkModeOn
                        ? '/assets/icons/dashboard/dark/overview.svg'
                        : '/assets/icons/dashboard/light/overview.svg'
                    "
                    alt="Overview Logo"
                  />
                </div>
                <label class="clickable">Overview</label>
              </li>
              <li
                class="navElement workspaces row align-center gap-05"
                routerLink="workspaces"
              >
                <div class="logo">
                  <img
                    class="icon"
                    [src]="
                      this.isDarkModeOn
                        ? '/assets/icons/dashboard/dark/workspaces.svg'
                        : '/assets/icons/dashboard/light/workspaces.svg'
                    "
                    alt="Workspaces Logo"
                  />
                </div>
                <label class="clickable">Espacios de trabajo</label>
              </li>
            </ul>
          </div>

          <div class="workspaces_list">
            <label class="title">Espacios de trabajo</label>
            <ul>
              <li
                *ngFor="let workspace of workspaces.slice(0, 3)"
                class="navElement {{ workspace.name }} clickable"
                (click)="redirectToWorkspace(workspace.id!)"
              >
                <label class="clickable">{{ workspace.name }}</label>
              </li>
            </ul>
          </div>

          <div class="aboutme">
            <label class="title">Sobre mí</label>
            <ul>
              <li
                [routerLink]="['myaccount']"
                class="navElement micuenta row align-center gap-05"
              >
                <div class="logo">
                  <img
                    class="icon"
                    [src]="
                      this.isDarkModeOn
                        ? '/assets/icons/dashboard/dark/myaccount.svg'
                        : '/assets/icons/dashboard/light/myaccount.svg'
                    "
                    alt="My account Logo"
                  />
                </div>
                <label class="clickable">Mi cuenta</label>
              </li>
              <li
                class="navElement social row align-center gap-05"
                (click)="
                  isSocialClicked = !isSocialClicked; $event.stopPropagation()
                "
              >
                <div class="logo">
                  <img
                    class="icon"
                    [src]="
                      this.isDarkModeOn
                        ? '/assets/icons/dashboard/dark/social.svg'
                        : '/assets/icons/dashboard/light/social.svg'
                    "
                    alt="Social Logo"
                  />
                </div>
                <label class="clickable">Social</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="logo bottom full-center">
        <img
          class="flowboard_logo clickable"
          src="/assets/logos/flowboard.svg"
          [routerLink]="['/home']"
          alt="Flowboard Logo"
        />
      </div>
    </div>
  </div>
  <div class="main_content column space-between">
    <div class="top_bar full-width p-1 space-between row align-center">
      <div class="left gap-05 row align-center">
        <img
          class="icon"
          [src]="
            this.isDarkModeOn
              ? '/assets/icons/dashboard/dark/sidebar.svg'
              : '/assets/icons/dashboard/light/sidebar.svg'
          "
          (click)="showSidebarLeft()"
          alt="Sidebar icon"
        />
        <img
          class="icon"
          [src]="
            this.isDarkModeOn
              ? this.isElementSelectedInFavorites
                ? '/assets/icons/dashboard/dark/star_selected.svg'
                : '/assets/icons/dashboard/dark/star.svg'
              : this.isElementSelectedInFavorites
              ? '/assets/icons/dashboard/light/star_selected.svg'
              : '/assets/icons/dashboard/light/star.svg'
          "
          (click)="handleFavClick()"
          alt="Favorite icon"
        />

        <label #title>Title</label>
      </div>
      <div class="right row gap-05 align-center justify-right">
        <img
          class="icon"
          [src]="
            this.isDarkModeOn
              ? '/assets/icons/dashboard/dark/sun.svg'
              : '/assets/icons/dashboard/light/sun.svg'
          "
          alt="Dark_Mode icon"
          (click)="changeLightMode()"
        />
        <img
          class="icon"
          [src]="
            this.isDarkModeOn
              ? '/assets/icons/dashboard/dark/bell.svg'
              : '/assets/icons/dashboard/light/bell.svg'
          "
          alt="Notifications icon"
        />
        <img
          *ngIf="this.isWorkspaceAbleToDelete"
          class="icon"
          [src]="
            this.isDarkModeOn
              ? '/assets/icons/dashboard/dark/trash.svg'
              : '/assets/icons/dashboard/light/trash.svg'
          "
          alt="Trash icon"
          (click)="askDeleteConfirmation()"
        />
        <img
          class="icon inverted"
          [src]="
            this.isDarkModeOn
              ? '/assets/icons/dashboard/dark/sidebar.svg'
              : '/assets/icons/dashboard/light/sidebar.svg'
          "
          (click)="showSidebarRight()"
          alt="Sidebar icon"
        />
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-social class="overlay" *ngIf="isSocialClicked"></app-social>
  <div class="sidebar {{ !this.isSidebarRightVisible ? 'hidden' : '' }} right">
    <div class="content justify-center full-height">
      <div class="nav column space-between align-left">
        <div class="notifications">
          <label>Notificaciones</label>
          <ul>
            <li class="notification">
              <img class="icon img_notification_type" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="notification">
              <img class="icon img_notification_type" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="notification">
              <img class="icon img_notification_type" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="notification">
              <img class="icon img_notification_type" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="tasks">
          <label>Tareas</label>

          <ul>
            <li class="task">
              <img class="icon img_task" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="task">
              <img class="icon img_task" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="task">
              <img class="icon img_task" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="task">
              <img class="icon img_task" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="friends">
          <label>Amigos</label>

          <ul>
            <li class="friend">
              <img class="icon img_friend" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="friend">
              <img class="icon img_friend" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="friend">
              <img class="icon img_friend" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
            <li class="friend">
              <img class="icon img_friend" />
              <div class="info">
                <label>You fixed a bug</label>
                <p class="date">Just now</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
